---
import ProjectCard from '../Cards/ProjectCard.astro';
import { Section } from '../Shared/Section';

import { projects } from '../../data/projects';
---

<Section id='projects' title='Projects' client:load>
  <div class='flex flex-col gap-1 w-full h-full'>
    {
      projects?.map((item) => {
        return (
          <ProjectCard
            key={item.title}
            title={item.title}
            tag={item.tag}
            image={item.image}
            path={item.path}
          />
        );
      })
    }
  </div>
</Section>
